body {
	background-color: #F9F9F9;
}

/*.navbar-main {
	background-color: #01A9DB;
}*/

.navbar-title {
	/*change to color of the left menu text?*/
	color: #0489B1 !important;
	/*color: red !important;*/
	font-size: 24px;
	padding-left: 28px;
	font-weight: 500;
	/*margin-top: 20px;*/
}

.nav-sidebar > li> a.selected {
	background-color: #01A9DB;
	color: #F9F9F9;
}

.navbar-nav > li > a {
	color:#428bca !important; 
	text-decoration: none !important;
	/*cursor:help;*/
}

#control {
	height:78%;
	overflow-y:auto; 
}

#footer {
	margin-right: 30px;
}

#hiddenUpload {
	display:none;
}

#hiddenUpload2 {
	display: none;
}

.alert-text {
	padding: 5px;
}

.alert-input {
	width: 200px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Buttons */
.btn-bayes {
	color:white;
	background-color: #01A9DB;
	width: 120px;
}

.btn-bayes:hover {
	background-color: #63CEED;
	color:gray;		
}

.btn-bayes:focus {
	background-color: #63CEED;	
	color:gray;
}

.btn-bayes-short {
	color:white;
	background-color: #01A9DB;
	width: 70px;
}

.btn-bayes-short:hover {
	background-color: #63CEED;
	color:gray;		
}

.btn-bayes-short:focus {
	background-color: #63CEED;
	color:gray;	
}

.btn-bayes-grp {
	color:white;
	background-color: #01A9DB;
	width: 90px;	
}

.btn-bayes-grp:hover {
	background-color: #63CEED;
	color:gray;		
}

.btn-bayes-grp:focus {
	background-color: #63CEED;	
	color:gray;
}

/* Tables and Components */
.div-table {
	width :100%;
	height: 188px;
	overflow: auto;
	margin-bottom: 10px;
}

.sample-table {
	width :100%;
	height: 328px;
	overflow: auto;	
}
.table-bayes {
    /*table-layout: fixed;*/
    /*word-wrap: break-word;*/
}

th {
	text-align: center;
	color : gray;
}

td {
	text-align: center;
	color : gray;
}

/* table inputs */
td.editable > input {
	width:60px;
	text-align: center;
}

th.editable > input {
	width:60px;
	text-align: center;	
}

input.invalid {
	border-color: red;
}
/*SVG elements*/
#svg {
	/*border:1px solid black;*/
	background: #DFF5F9;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-border-radius:none;
	-moz-border-radius:none;
	-ms-border-radius:none;
	-o-border-radius:none;
	border-radius: 4px;
	/*float:left;	*/
}

g.node circle{
	fill: #01A9DB;
	stroke:#0489B1;
	stroke-width:1px;
}

g.node:hover circle {
	fill: #C5DEE4;
}

g.node.selected circle{
	fill:#D265A5 !important; /*change */
	stroke:#CC0B7C;
	stroke-width:2px !important;
}

g.node.selected:hover circle {
	fill: #EFC9DF !important;
}

path.conn{
	fill:none;
	stroke:#01A9DB;
	stroke-width:5px;
	cursor:default;
}

path.conn:hover {
	/*stroke: #C5DEE4;*/
	stroke-width:6px;
}

path.conn.hidden{
	stroke-width: 0;
}

path.conn.dragline{
	pointer-events:none;
}

path.conn.selected{
	stroke:#CC0B7C !important; /* change */
}

path.conn.selected:hover {
	stroke:#D265A5 !important;
}

path.arrow {
	fill:#01A9DB;
}

/*Text */
.node-title {
	font-size:16px;
	font-family: sans-serif;
	fill : rgb(76, 69, 69);
	font-weight:400;	
}

.node-label {
	margin: 0;
	color: #0489B1;	
}

.help-text {
	font-size: 16px;
	font-family: sans-serif;
	color : gray;
	padding-top:18px;
}

.instructions-text {
	font-size: 14px;
	font-family: sans-serif;
	color : gray;
	padding-top: 5px;
	font-weight:150px;
	margin:0;	
}

.instructions-text-title {
	font-size: 15px;
	font-family: sans-serif;
	color : #428bca;
	padding-top: 5px;
	font-weight:200px;
}	

.label-text {
	font-size:14px;
	font-family: sans-serif;
	font-weight: 100;
	color : gray;	
}

.zoom-text {
	font-size:12px;
	font-family: sans-serif;
	/*font-weight: 100;*/
	color : #428bca;
}

.footer-text {
	font-size:14px;
	font-family: sans-serif;
	color : #428bca;	
}